{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/style_game.css">
{% endblock %}

{% block content %}
{# {{ dump(time1) }}
 #}<header>
    <div class="img-header">
        <img src="/assets/images/lyrics_logo.png">
    </div>
</header>
<main>
    <section class="song">
        <div class="cover-song">
            <div class="circular">
                <div class="inner"><img src="{{ song.cover_link }}" alt=""></div>
                <div class="circle">
                    <div class="bar left" style="--value1:{{ time1 }}; --value2:{{ time2 }};">
                        <div class="progress"></div>
                    </div>
                    <div class="bar right" style="--value1:{{ time1 }}; --value2:{{ time2 }};">
                        <div class=" progress"></div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <h1>{{ song.title }}</h1>
            <h2>{{ song.artist }}</h2>
        </div>
    </section>
    <section class="lyrics">
        <div class="text">
            <h2>{{ song.lyrics_display }}</h2>
            <h2>
                {% for i in range(0, numberOfWords) %}
                ___&nbsp;&nbsp;
                {% endfor %}
            </h2>
        </div>
    </section>
    <section class="answer">
        <form method="post" id="form" action="/">
            <input type="text" name="user_answer" placeholder="Guess the lyrics...">
            <input type="submit" id="form-submit" value="&#10003;">
        </form>
    </section>
</main>
<div class="people_background">
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"
    integrity="sha256-S1J4GVHHDMiirir9qsXWc8ZWw74PHHafpsHp5PXtjTs=" crossorigin="anonymous"></script>
<script>
    let formSubmit = document.getElementById("form-submit");
    
    formSubmit.addEventListener('click', (event) => {
        event.preventDefault();
        
        let answer = document.getElementById("form-submit").value;
        alert(typeof(answer));
        //alert(JSON.stringify(answer, null, 4));
        /*
        var payload = {
        a: 1,
        b: 2
        };

        var data = new FormData();
        data.append( "json", JSON.stringify( payload ) );

        fetch("/echo/json/",
        {
            method: "POST",
            body: data
        })
        .then(function(res){ return res.json(); })
        .then(function(data){ alert( JSON.stringify( data ) ) })
        */
    });
</script>

{% endblock %}